<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <title>About</title>
<head>
</head>
<body>

<div layout:fragment="content" class="container my-space">
    <div class="jumbotron">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut autem consectetur doloribus esse est neque, qui reiciendis repellendus?</p>
    </div>
</div>

</body>
</html>