<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/tymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{fragments/main_layout}">
<head>
</head>
<body>

<div layout:fragment="content" class="container my-space">
    <div class="alert alert-danger text-center">
        There was an error
        |<span th:text="${message}"></span>
        |<span th:text="${status}"></span>
    </div>
</div>

</body>
</html>